<a href="#navbar" id="menu-burger" class="menu-burger">Menu
  <span class="nav-icon"></span>

  <svg x="0px" y="0px" width="54px" height="54px" viewBox="0 0 54 54">
    <circle fill="transparent" stroke="#000000" stroke-width="1" cx="27" cy="27" r="25" stroke-dasharray="157 157" stroke-dashoffset="157"></circle>
  </svg>
</a>

<div id="navbar" class="navbar">
  <div class="navigation-wrapper">
    <div class="half-block">
      <h2>Navigation</h2>

      <nav>
        <ul class="primary-nav">
          <li><a href="{{ '/' | prepend: site.baseurl }}">Home</a></li>
          <!--<li><a href="{{ '/blog' | prepend: site.baseurl }}">Device Sketches</a></li>-->
          <li><a href="{{ '/sketches' | prepend: site.baseurl }}">Z-Audio Device</a></li>
          <li><a href="{{ '/mission' | prepend: site.baseurl }}">Mission & Vision</a></li>

          <li><a href="{{ '/forCommunity' | prepend: site.baseurl }}">For Community</a></li>
          <li><a href="{{ '/forInvestors' | prepend: site.baseurl }}">For Investors</a></li>
          <li><a href="{{ '/contacts' | prepend: site.baseurl }}">Contacts</a></li>
          <!--<li><a href="{{ site.author.facebook }}" target="_blank"><i class="icon icon-facebook"></i> FB</a></li>-->
        </ul>
      </nav>
    </div>
  </div>
</div>